*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

html, body{
	background: #ccc;
	font-family: arial, sans-serif;
	border-radius:5px;
}


/*
*	Window ctrls
*/
.window-ctrls{
	position:fixed;
	top:10px;
	right:10px;
	z-index:1000;
}
.window-ctrls .w-control{
	background: gray;
	position:relative;
	display:inline-block;
	width:15px;
	height:15px;
	border-radius:50%;
	cursor:pointer;
}
.window-ctrls .w-control.close:hover{
	background: Crimson;
}
.window-ctrls .w-control.maximize:hover{
	background: Gold;
}
.window-ctrls .w-control.minimize:hover{
	background: LimeGreen;
}
.window-ctrls .w-control.move{
	background: Teal;
	opacity:0.3;
	-webkit-app-region: drag;
}



/*
*	content
*/

#content{
	width:90%;
	margin: 15px auto;
}

#content h1{
	display:block;
	text-align:center;
	width:250px;
	margin:0 auto;
	-webkit-app-region: drag;
}
#content > div{
	margin-top:30px;
}

#content textarea{
	display:block;
	width:100%;
	height:100px;
	outline:none;
	border:none;
	background: #fafafa;
	border-radius:5px;
	text-align:left;
	padding:10px;
	margin-top:10px;
}

#content textarea#source{
	box-shadow:0 0 20px LimeGreen;
}
#content textarea#resultup{
	box-shadow:0 0 20px Gold;
}
#content textarea#resultlo{
	box-shadow:0 0 20px Crimson;
}
